body{
	margin: 0 auto;
	background: linear-gradient(to right,blue,green);
	
}
.center
{
	text-align: center;
	top:0;bottom: 0;left: 0;right:0;
	margin: auto;padding: auto;
}
.center > h1 h2 input button h3 {
	display: inline-block;
}